# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#strapi
/softwarefinder-cms/node_modules
/softwarefinder-cms/.env
/softwarefinder-cms/.env.example
/softwarefinder-cms/license.txt
/softwarefinder-cms/exports
/softwarefinder-cms/*.cache
/softwarefinder-cms/dist
/softwarefinder-cms/build
/softwarefinder-cms/.strapi-updater.json