.SelectTrigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	padding: 10px 14px;
	font-size: 16px;
	line-height: 1;
	height: 42px;
	gap: 5px;
	font-weight: 400;
	color: var(--color-black);
	background-color: white;
	border: 1px solid #e6e6e6;
	min-width: 220px;
}

.SelectTrigger:focus {
	box-shadow: 0 0 0 1px var(--color-black);
}
.SelectTrigger[data-placeholder] {
	color: var(--color-black);
}

.SelectContent {
	overflow: hidden;
	background-color: white;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
	width: var(--radix-select-trigger-width);
	max-height: var(--radix-select-content-available-height);
	padding: 10px 0;
	border-radius: 6px;
	border: 1px solid #e6e6e6;
}

.SelectItem {
	font-size: 13px;
	line-height: 1;
	color: #000;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 16px;
	position: relative;
	font-weight: 500;
	user-select: none;
}

.SelectItem:hover {
	cursor: pointer;
}
.SelectItem[data-disabled] {
	color: var(--mauve8);
	pointer-events: none;
}
.SelectItem[data-highlighted] {
	outline: none;
	background-color: var(--violet9);
	color: var(--violet1);
}
.SelectViewport {
	padding: 16px 0;
}
.SelectLabel {
	padding: 0 12px;
	font-size: 14px;
	line-height: 25px;
	color: var(--mauve11);
}

.SelectItemIndicator {
	position: absolute;
	left: 0;
	width: 3px;
	height: 24px;
	background-color: var(--color-green);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
