.benefit__wrapper {
	background: url('/images/half-circle.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.leaf {
	font-weight: bold;
	color: var(--color-green);
	position: relative;
}

.leaf::after {
	content: '';
	position: absolute;
	background: url('/images/leaf.svg');
	background-size: contain;
	width: 40px;
	height: 48px;
	background-repeat: no-repeat;
	right: -50px;
	top: 2px;
}
