.bullet {
	background-color: #10292d;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

.list_item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.bullet svg {
	stroke-width: 3;
}

.list_item span {
	color: #444;
}
